services:
  web:
    build: .
    command: sleep infinity
    volumes:
      - ./src:/app
      - ./secrets:/secrets:ro
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: postgres:16
    volumes:
      - postgres_data:/var/lib/postgresql/data
    env_file:
      - .env

volumes:
  postgres_data:
